---
---
@import "{{ site.theme }}";

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

section {
  width: 70%;
  padding-top: 15px;
}

header {
  padding-left: 40px;
  border-radius: 4px;
  margin-top: 50px;

  ul {
    padding-top: 20px;
  }
}

img {
  border: none;
}

h1.header img {
  width: 100%;
  margin: -80px 0 0 -5px;
  padding: 0 0 20px;
}

blockquote {
  font-size: 1.5em;
  color: #888;
  border-left: 1px solid #ccc;
  font-family: "Arvo, Monaco, serif";
}

sub, sub {
  font-size: 0.8em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  > span.previous, span.next {
    color: #888;
  }
}

.flex {
  display: flex;
  justify-content: space-between;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

input[type="text"], input[type="email"], textarea {
  flex: 1;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
}

textarea {
  height: 10em;
}

form {
  padding: 1em 0;

  .button {
    align-self: flex-start;
    font-size: 1em;
    padding: 0.75em 1em;
    background: red;
    color: white;
    min-width: 10vw;
    font-weight: bold;
    border: none;
  }

  .spacer {
    width: 1em;
  }
}

h3 {
  border: none;
}

.text-image {
  background: #eee;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 4px;

  img, p {
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 0.85em;
    font-style: italic;
  }

  .caption {
    text-align: center;
  }

  img {
    display: block;
    width: 100%;
  }

  &.left {
    float: left;
    margin-right: 1em;
    width: 20vw;
  }

  &.right {
    float: right;
    margin-left: 1em;
    width: 20vw;
  }
}
